.header.contacts{
    height: 150px;
}
.conteiner_contacts  {
    max-width: 1000px;
    width:100%;
    height: 600px;
    color: #fff;
    margin: 0 auto;
}
.contacts_title {
    max-width: 460px;
    width:100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;

}
.contacts_title>h2{

font-family: HelveticaNeueCyr;
font-style: Bold;
font-size: 3em;
line-height: 120px;
color:#fff;
    
}
.contacts_block  {
    max-width: 850px;
    width:100%;
    height: 420px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.contacts_item  {
    max-width: 400px;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-around;
   

}
.contacts_item_inner {
    max-width: 98%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 10px auto;
}
.contacts_item_icon {
    max-width: 70px;
    width:100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#6563FF;
    border-radius: 20%;
}
.contacts_item_icon>img{
    max-width: 40px;
    width:100%;
    height: 40px;
 }
.contacts_item_text{
    max-width: 300px;
    width:100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts_item_text>span:first-child{
font-family: 'Montserrat',sans-serif;
font-size: 20px;
font-weight: 300;
line-height: 24px;
}
.contacts_item_text>span{
margin-top: 5px;
font-family: 'Montserrat', sans-serif;
font-weight:Bold;
font-size: 25px;
line-height: 30px;
}

.contacts_item_text>span>a{
margin-top: 5px;
font-family: 'Montserrat', sans-serif;
font-weight:Bold;
font-size: 0.6em;
line-height: 30px;
color:#fff;
}

@media (min-width: 320px){
    .contacts_item_text>span>a{ 
        font-size: 0.7em;
    }
}

@media (min-width: 375px){
    .contacts_item_text>span>a{ 
        font-size: 1em;
    }
}

@media (min-width: 414px){
    .contacts_item_text>span>a{ 
        font-size: 1.2em;
    }
}


@media (max-width:1080px){
    .conteiner_contacts{
    padding: 0 15px;
    height: auto;
 }
 .contacts_block{
    height: auto;
    flex-direction: column;
}
}
@media (max-width:530px){
   .contacts_title>h2 {
    padding:0 5px;
    font-size: 3em;
   }
   .contacts_item_text {
    padding: 0 20px;
   }
   .contacts_item_text>span {
    font-size: 18px; 
}
}

@media (min-width: 1280px) {
    .conteiner_contacts  {
        min-width: 1200px;
    }
}

@media (min-width: 1680px) {
    .conteiner_contacts  {
        min-width: 1600px;
    }
}