@font-face {
        font-family: HelveticaNeueCyr;
        src: url('../assets/fonts/helveticaneuecyr_thin.otf');
}
@font-face {
        font-family: HelveticaNeueCyrBold;
        src: url('../assets/fonts/HelveticaNeueCyr-Bold.eot'),
        url('../assets/fonts/HelveticaNeueCyr-Bold.ttf'),
        url('../assets/fonts/HelveticaNeueCyr-Bold.woff');
}
.container {
        width: 90%;
        margin: auto;
}
.header.pf {
        height: 150px;
}
[data-color="white"] {
   color:rgba(255, 255, 255, 1)!important;
    text-decoration: underline #55E8E3;
    transition: 3s;
    text-underline-offset: 6px;
}

.conteiner_portfolio {
        color: #fff;
        display: flex;
        justify-content: center;
}
.portfolio_content {
        margin: 0 auto;
        max-width: 1020px;
        display: flex;
        flex-direction: column;
}
.portfolio_title {
        display: flex;
        flex-direction: column;
        padding: 15px 0 50px 0;
}
.portfolio_title>span:nth-child(1) {
        font-family: 'Montserrat',sans-serif;
        font-style: 100;
        font-size: 1.5em;
        line-height: 1.5;
        color:#326DFF;
        font-family:  HelveticaNeueCyr;
}
.portfolio_title>span:nth-child(2) {
        font-family:  HelveticaNeueCyrBold;
        font-weight: Bold;
        font-size: 3em;
}
.portfolio_cl {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}
.portfolio_content_item {
        margin-top: 40px;
        max-width: 500px;
        height: 380px;
        display: flex;
        background: #326DFF;
        border-radius:35px;
}
.more {
       display: flex;
     justify-content: space-between;
     flex-wrap: wrap; 
}

.show-more{
  color:#FFFF;
}
.btn_more_portf {
        margin:30px auto;
        max-width:900px;
        width:100%;
        height:auto;
        display: flex;
        border-radius: 16px;
        justify-content: center;
       
}
#btn_show {
        height: 50px;
        width: 180px;
        background: #212122;
        color: #fff;
        border-radius: 12px;
        cursor: pointer;
        font-family: HelveticaNeueCyrBold;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.85em;
}
#btn_show:hover {
        background: #29292b;
        transition: 0.3s;
}

.show{
       display: none;
}


@media (max-width:1680px){
.portfolio_content_item{
    max-width: 570px;
    padding: 15px 10px;
}
}
@media (max-width:1280px){
.portfolio_content_item{
    max-width: 490px;
    padding: 15px 20px;
    margin: 5px 10px;
}
 .ulWidth {
    justify-content: space-around;
}
}

@media (max-width:1180px){

.portfolio_cl{
    justify-content: center;
    
}
.portfolio_content_item {
    max-width: 760px;
    margin: 20px 5px;
}
.portfolio_title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.more {
    justify-content: center;
}

}
@media (max-width:650px){
.portfolio_title>span:nth-child(2) {
    font-size: 76px;

}

}

@media (max-width:550px){
.portfolio_title>span:nth-child(2) {
    font-size: 64px;

}

}
@media (max-width:450px){
.portfolio_title>span:nth-child(2) {
    font-size: 46px;

}

}

@media (min-width: 280px) {
        .portfolio_content_item {
                height: 190px;
        }  
}

@media (min-width: 320px) {
        .portfolio_content_item {
                height: 230px;
        }  
}

@media (min-width: 375px) {
        .portfolio_content_item {
                height: 270px;
        }  
}

@media (min-width: 414px) {
        .portfolio_content_item {
                height: 300px;
        }  
}

@media (min-width: 540px) {
        .portfolio_content_item {
                height: 350px;
        }  
}

@media (min-width: 768px) {
        .portfolio_content_item {
                height: 370px;
        }  
}

@media (min-width: 1024px) {
        .hover-img {
                width: 430px;
        }
}

@media (min-width: 1280px) {
        .portfolio_content {
                min-width: 1200px;
        }
        .hover-img {
                width: 570px;
        }
}

@media (min-width: 1680px) {
        .portfolio_content {
                min-width: 1600px;
                margin-top: 60px;
        }
        .hover-img {
                width: 750px;
        }
}